{% extends "base.html" %}
{% block content %}
    <h1>Submitting a Ticket</h1>
    <div class="well">
        <p>Repair tickets are the primary feature of TTracker3. Submitting a ticket adds your data to our collection and
            could help future technicians.</p>
        <br/>
        <ol>
            <li>Click the "Tickets" link on the right side of the navigation bar.</li>
            <li>Select the "Submit a Ticket" option from the dropdown menu.</li>
            <li>Fill out the requested data.</li>
            <br/>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Note</h3>
                </div>
                <div class="panel-body">
                    <p>The only required field is the "Received Date". Dropdown menus use their first value as the
                        default. Please leave fields blank if you have no data to input.</p>
                </div>
            </div>
            <li>Click the "Submit Ticket" button to submit your information. If you receive an error, correct your data
                and try again. If no errors were received, you should be redirected and your ticket will be a part of
                our database.
            </li>
        </ol>
        <br/>
        <button class="btn btn-default btn-lg"
                onclick="document.location = '{{ url_for('tutorials.tutsearchtickets') }}'"><span
                class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Tutorial 4: Searching Tickets
        </button>
        <button class="btn btn-default btn-lg btn-right"
                onclick="document.location = '{{ url_for('tutorials.tutedittickets') }}'">Tutorial 6: Editing a
            Ticket<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
    </div>
{% endblock %}