{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-register" role="form" method="post" action=".">
            <h2 class="form-register-heading">Welcome to TicketTracker3</h2>
            {{ form.csrf_token }}
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {{ form.firstname.label }}
            {{ form.firstname(class="form-control") }}
            {{ form.lastname.label }}
            {{ form.lastname(class="form-control") }}
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {{ form.confirm.label }}
            {{ form.confirm(class="form-control") }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
{% endblock %}