{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-register" role="form" method="post" action=".">
            <h2 class="form-register-heading">Welcome to TicketTracker3</h2>
            {{ form.csrf_token }}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ form.email.label }}</th>
                        <th>{{ form.firstname.label }}</th>
                        <th>{{ form.lastname.label }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.email(class="form-control") }}</td>
                        <td>{{ form.firstname(class="form-control") }}</td>
                        <td>{{ form.lastname(class="form-control") }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ form.password.label }}</th>
                        <th>{{ form.confirm.label }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.password(class="form-control") }}</td>
                        <td>{{ form.confirm(class="form-control") }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
{% endblock %}