{% extends "base.html" %}
{% block statuses %}
    {% if get_flashed_messages(with_categories=true) %}
         <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <ul>
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
         </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-submit" role="form" method="post" action=".">
            <h2 class="form-submit-heading">Submit a Ticket</h2>
            {{ form.csrf_token }}
            {{ form.received.label }}
            {{ form.received(class="form-control", placeholder="format: yyyy-mm-dd") }}
            {{ form.returned.label }}
            {{ form.returned(class="form-control", placeholder="format: yyyy-mm-dd") }}
            {{ form.os.label }}
            {{ form.os(class="form-control") }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Ticket</button>
        </form>
    </div>
{% endblock %}