{% extends "base.html" %}
{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Technician</th>
                <th>Received</th>
                <th>Returned</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if ticket.technician == None %}
                    <td>N/a</td>
                {% else %}
                    <td>{{ ticket.technician }}</td>
                {% endif %}
                <td>{{ ticket.received.strftime("%B %d, %Y") }}</td>
                {% if ticket.status|statusname != "Complete" %}
                    <td>N/a</td>
                {% else %}
                    <td>{{ ticket.returned }}</td>
                {% endif %}
                <td>{{ ticket.status|statusname }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Operating System</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.os }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Phone Number</th>
                <th>Customer Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.cname }}</td>
                <td>{{ ticket.cphone }}</td>
                <td>{{ ticket.cemail }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Problem</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.problem }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Work Done</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.workdone }}</td>
            </tr>
            </tbody>
        </table>
        {% if session['admin'] or ticket.technician == session['technician_name'] %}
            <p>You can edit this ticket.</p>
        {% endif %}
    </div>
{% endblock %}