body {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #eee;
}

body > .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.theme > p > .btn {
    margin: 5px 0;
}

.theme .navbar .container {
    width: auto;
}

.row-Unclaimed {
    background: #FC818D;
}

.row-Repairing {
    background: #F6FC81;
}

.row-Waiting {
    background: #FCD781;
}

.row-Complete {
    background: #81FC83;
}

.row-Unclaimed:hover, .row-Repairing:hover, .row-Waiting:hover, .row-Complete:hover {
    opacity: 0.8;
    filter: Alpha(opacity=80);
    cursor: pointer;
}

.form-addos, .form-register, .form-signin, .form-submit {
    padding: 15px;
    margin: 0 auto;
}

.form-addos {
    max-width: 600px;
}

.form-signin {
    max-width: 330px;
}

.form-register, .form-submit {
    max-width: 800px;
}

.form-addos .form-addos-heading, .form-register .form-register-heading, .form-signin .form-signin-heading, .form-submit .form-submit-heading {
    margin-bottom: 10px;
}

.form-addos .form-control, .form-register .form-control, .form-signin .form-control, .form-submit .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-addos .form-control:focus, .form-register .form-control:focus, .form-signin .form-control:focus, .form-submit .form-control:focus {
    z-index: 2;
}

.form-register input[type="email"], .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-addos input[type="password"]:nth-child(even), .form-addos input[type="text"], .form-addos select, .form-register input[type="password"], .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #B8B8B8;
}

.table-bordered > thead > tr > th {
    background: #DEDEDE;
    border: 1px solid #B8B8B8;
}