body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.alert {
    margin-top: 20px;
}

.row-Unclaimed {
    background: #FC818D;
}

.row-Repairing {
    background: #F6FC81;
}

.row-Waiting {
    background: #FCD781;
}

.row-Complete {
    background: #81FC83;
}